<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %} - yaxmm</title>
  <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.2/slate/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
  body { padding-top: 70px; }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {% include 'nav.html' %}
  {% block body %}{% endblock %}
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</body>
</html>
