{% extends "base.html" %}
{% block title %}Movies{% endblock %}
{% block body %}
Number of movies in database: {{info.count}}
<div class="table-responsive">
  <table class="table table-condensed table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Pic</th>
        <th>Idx</th>
        <th>Year</th>
        <th>Runtime</th>
        <th>Size</th>
        <th>Info</th>
        <th>Codecs</th>
        <th>Links</th>
      </tr>
    </thead>
    <tbody>
      {% set count = 1 %}
      {%- for movie in movies -%}
      <tr>
        <td>
          {{count}}
        </td>
        <td>
          <center>
          {% if movie.poster -%}
          <img src="{{movie.poster}}" class="img-rounded" height="150">
          {% else %}
          <h1><span class="glyphicon glyphicon-warning-sign"></span></h1>
          {%- endif %}
          </center>
        </td>
        <td>
          {{movie.id}}
        </td>
        <td>
          {{movie.year}}
        </td>
        <td>
          {{movie.runtime}}
        </td>
        <td>
        </td>
        <td>
          <b>Title:</b> {{movie.title}}
          <br>
          <b>Path:</b> {{movie.path}}
        </td>
        <td>
        </td>
        <td>
          {% if movie.imdb_id %}<a href="http://www.imdb.com/title/{{movie.imdb_id}}">IMDB</a>{% endif %}
        </td>
      </tr>
      {% set count = count + 1 %}
      {% endfor -%}
    </table>
  </tbody>
</div>
{% endblock %}
