{% extends "base.html" %}
{% block title %}Movies{% endblock %}
{% block body %}
Number of movies in database: {{info.count}}
<div class="table-responsive">
  <table id="movietable" class="table table-condensed table-bordered table-striped table-hover tablesorter">
    <thead>
      <tr>
        <th>#</th>
        <th>Pic</th>
        <th>Idx</th>
        <th>Year</th>
        <th>Runtime</th>
        <th>Info</th>
        <th>Codecs</th>
        <th>Rating</th>
        <th>Links</th>
      </tr>
    </thead>
    <tbody>
      {% set count = 1 %}
      {%- for movie in movies -%}
      <tr>
        <td>
          {{count}}
        </td>
        <td>
          <center>
          {% if movie.poster -%}
          <img src="{{info.webroot}}/thumbs/{{movie.poster}}" class="img-rounded" height="150">
          {% else %}
          <h1><span class="glyphicon glyphicon-warning-sign"></span></h1>
          {%- endif %}
          </center>
        </td>
        <td>
          {{movie.id}}
        </td>
        <td>
          {{movie.year}}
        </td>
        <td>
          {{movie.stream.video.duration}}
        </td>
        <td>
          <b>Title:</b> {{movie.title}}
          <br>
          <b>Path:</b> {{movie.path}}
        </td>
        <td>
        <img src="{{info.webroot}}/icons/video/{{movie.stream.video.codec}}.png"</img><br>
        <img src="{{info.webroot}}/icons/audio/{{movie.stream.audio.codec}}.png"</img>
        </td>
        <td style="white-space: nowrap">
         {{movie.rating|float}}<br>
         <small>({{movie.votes}} votes)</small>
        </td>
        <td>
          {% if movie.imdb_id %}[<a href="http://www.imdb.com/title/{{movie.imdb_id}}">IMDB</a>]{% endif %}
        </td>
      </tr>
      {% set count = count + 1 %}
      {% endfor -%}
    </table>
  </tbody>
</div>
{% endblock %}
